.frame {
  width: 800px;
  /*height: 600px;*/
  position: relative;
  /*overflow: hidden;*/
}

.tray {
  /*width: 2400px; -- Because of JS, this is not needed */
  position: relative;
}

.slide {
  width: 800px;
  height: 600px;
  /*float: left;*/
}
.prev, .next {
  position: absolute;
  top: 49%;
  color: #a7dbd8;
  font-size: 2em;
  text-decoration: none;
}

.prev { left: 0;}
.next { right: 0;}

.prev:hover, .next:hover{
  color: #69d2e7;
}